<!DOCTYPE html>
<html lang="cs-CZ">

<head>
  <link rel="stylesheet" href="../static/styles.css">
  <title>Server Manager</title>
  <meta lang="cs-CZ">
</head>

<body>
  <header class="header">
    <div class="header-start">
      <p>Sercaver</p>
    </div>
    <div class="header-center">

    </div>
    <div class="header-end">
      <a class="settings-link" href="settings.html">
        <img class="settings-image" src="/static/settings.png">
      </a>
    </div>
  </header>
  <main class="main">
    <div class="headline">
      <h2>{{ server.name }}</h2>
    </div>
    <section class="server-console-content">

      <div class="console">
        <div class="logs" id="output">

        </div>
        <div class="seperator">

        </div>
        <div class="console-input" id="consoleInput">
          <input>
        </div>
      </div>
    </section>
  </main>
</body>

</html>

<script>
  SendMessageToLog("Creating websocket...")
  const socket = new WebSocket("ws://localhost:8080");

  const input = document.getElementById('consoleInput')

  socket.addEventListener("open", (event) => {
    SendMessageToLog(`Connection open: ${event.currentTarget}`);
  })

  socket.addEventListener("message", (event) => {
    SendMessageToLog(event.data)
  })

  socket.addEventListener("close", (event) => {
    SendMessageToLog(`Closed connection: ${event.reason}`)
  })

  socket.addEventListener("error", (event) => {
    SendMessageToLog("Couldn't start websocket")
  })

  input.addEventListener('keydown', function (event) {
    if (event.key === 'Enter') {
      const inputData = input.innerText;
      console.log(inputData)
      fetch('/execute-command', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ inputData: inputData })
      })
        .then(data => {
          input.innerText = '';
        });
    }
  })


function SendMessageToLog(message)
{
  var line = document.createElement("p");
  var output = document.getElementById('output');
  line.appendChild(document.createTextNode(message));
  output.appendChild(line);
}
</script>
