<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header class="header">
    <div class="header-start">
      <h1>Sercaver</h1>
    </div>
    <div class="header-center"></div>
    <div class="header-end">
      <a class="settings-link" href="/">
        <img class="settings-image" src="/static/back.png">
      </a>
    </div>
  </header>
  <main class="main">
    <section class="content">
      <div class="headline">
        <h1>Settings</h1>
      </div>
      <div class="settings-content">
        <div class="setting">
          <p class="setting-name">default servers path</p>
          <form method="POST" action="/submit-setting">
            <input type="text" name="default_server_path" class="text-input">
          </form>
        </div>
      </div>
    </section>
  </main>
</body>

</html>