<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header class="header">
    <div class="header-start">Sercaver</div>
    <div class="header-center"></div>
    <div class="header-end">
      <a class="settings-link" href="/">
        <img class="settings-image" src="/static/back.png">
      </a>
    </div>
  </header>A
  <main class="main">
    <section class="content">
      <div class="headline">
        <h1>Settings</h1>
      </div>
      <div class="settings-content">
          <div class="setting">
            <p class="setting-name">default servers path</p>
            <input class="text-input">
          </div>
      </div>
    </section>
  </main>
</body>

</html>